*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px red dashed;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.calculator{
    position: relative;
    width: 300px;
}

.button{
    position: relative;
    display: grid;
}

#value{
    position: relative;
    margin: 16;
    grid-column: span 4;
    height: 100px;
    line-height: 100px;
    padding: 0 20px ;
    border-radius: 10px;
    background-color: #a7af7c;
    text-align: right;
    font-size: 1.5 rem;
    color: #3a3c2e;
    overflow: hidden;
    box-shadow: inset 0 6px 1px 0 rgba(0,0,0,0.35),
    0 5px 5px rgba(0,0,0,0.5),0 15px 25px rgba(0,0,0,0.35);
    width: calc(100% - 16px);
}


span{
    position: relative;
    pad: 10px;
    margin: 6px;
    min-width: 40px;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
    border: 2px solid #222;
    background: linear-gradient(#555353,#363535);
    box-shadow: inset 0 6px 1px 0 rgba(0,0,0,0.35),
    0 5px 5px rgba(0,0,0,0.5),0 15px 25px rgba(0,0,0,0.35);
    user-select: none;
    cursor: pointer;
}